---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Background Slider">
    <div class="slider-wrapper">
        <div class="slider-container">
            <div
                class="slide active"
                style="background-image:url('https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80')"
            >
            </div>
            <div
                class="slide"
                style="background-image:url('https://images.unsplash.com/photo-1512273222628-4daea6e55abb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80')"
            >
            </div>
            <div
                class="slide"
                style="background-image:url('https://images.unsplash.com/photo-1536781602098-7ceff4dff60d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80')"
            >
            </div>
            <div
                class="slide"
                style="background-image:url('https://images.unsplash.com/photo-1568005885177-4645086c3e01?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80')"
            >
            </div>
            <div
                class="slide"
                style="background-image:url('https://plus.unsplash.com/premium_photo-1674331710614-41eab5c75aab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1075&q=80')"
            >
            </div>
            <button class="arrow left-arrow" id="left">
                <i class="fas fa-arrow-left"></i>
            </button>

            <button class="arrow right-arrow" id="right">
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>
    </div>
</Layout>

<style is:inline>
    .slider-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.4s ease-in-out;
        position: relative;
    }

    .slider-wrapper::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .slider-container {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        height: 65vh;
        width: 65vw;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }

    .slide {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 1s ease-in-out;
    }

    .slide.active {
        opacity: 1;
    }

    .arrow {
        all: unset;
        position: absolute;
        color: #fff;
        padding: 20px;
        font-size: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 2;
    }

    .arrow:focus {
        outline: 0;
    }

    .left-arrow {
        left: calc(15vw - 65px);
    }

    .right-arrow {
        right: calc(15vw - 65px);
    }
</style>

<script is:inline>
    const wrapper = document.querySelector('.slider-wrapper');
    const slides = document.querySelectorAll('.slide');
    const leftBtn = document.getElementById('left');
    const rightBtn = document.getElementById('right');

    let activeSlide = 0;

    rightBtn.addEventListener('click', () => {
        activeSlide++;
        if (activeSlide > slides.length - 1) {
            activeSlide = 0;
        }
        setBgToWrapper();
        setActiveSlide();
    });

    leftBtn.addEventListener('click', () => {
        activeSlide--;
        if (activeSlide < 0) {
            activeSlide = slides.length - 1;
        }
        setBgToWrapper();
        setActiveSlide();
    });

    setBgToWrapper();

    function setBgToWrapper() {
        wrapper.style.backgroundImage = slides[activeSlide].style.backgroundImage;
    }

    function setActiveSlide() {
        slides.forEach((slide) => slide.classList.remove('active'));
        slides[activeSlide].classList.add('active');
    }
</script>
