---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Dad Jokes">
    <div class="container">
        <h3>Don't Laugh Challenge</h3>
        <div id="joke" class="joke">
            <!-- joke goes appended here  -->
        </div>
        <button id="jokeBtn" class="btn">Get another joke</button>
    </div>
</Layout>

<style>
    :root {
        --left-bg-color: rgba(87, 84, 236, 0.7);
        --right-bg-color: rgba(43, 43, 43, 0.8);
        --left-btn-color: rgba(87, 84, 236, 1);
        --right-btn-color: rgba(28, 122, 28, 1);
        --hover-width: 70%;
        --collapse-width: 30%;
    }
    * {
        box-sizing: border-box;
    }

    html {
        font-size: 62.5%;
    }

    body {
        background-color: #ba6bf0;
        font-family: 'Roboto', sans-serif;
        height: 100vh;
        overflow: hidden;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 2rem;
    }

    .container {
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1),
            0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        padding: 4rem 2rem;
        width: min(80rem, 100%);
        text-align: center;
    }

    h3 {
        letter-spacing: 0.05em;
        font-size: 2rem;
        line-height: 2.4rem;
    }

    .joke {
        font-size: 3rem;
        font-weight: 500;
        line-height: 4.5rem;
        margin: 5rem auto;
        width: min(60rem, 100%);
    }

    .btn {
        background-color: #ba6bf0;
        border: none;
        padding: 1em 2em;
        color: #fff;
        font-size: 1.6rem;
        border-radius: 100rem;
        cursor: pointer;
        transition: all 0.2s;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1),
            0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        letter-spacing: 1px;
        text-transform: Capitalize;
        font-weight: 500;
    }

    .btn:hover {
        background-color: #a55be0;
        transform: scale(1.02);
    }

    .btn:active {
        background-color: #8f4bd0;
        transform: scale(0.98);
    }
</style>

<script is:inline>
    const jokeContainer = document.getElementById('joke');
    const jokeBtn = document.getElementById('jokeBtn');
    const generateJoke = () => {
        const config = {
            headers: {
                Accept: 'application/json',
            },
        };

        fetch('https://icanhazdadjoke.com', config)
            .then((res) => res.json())
            .then((data) => {
                jokeContainer.innerHTML = `"${data.joke}"`;
            });
    };

    jokeBtn.addEventListener('click', generateJoke);

    window.onload = generateJoke;
</script>
