---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Default Project">
    <div class="container">
        <div class="generator-wrapper">
            <h2>Password Generator</h2>
            <div class="result-container">
                <span class="result"></span>
                <button class="btn" id="clipboard">
                    <i class="far fa-clipboard"></i>
                </button>
            </div>
            <div class="settings">
                <div class="setting">
                    <label for="length">Length</label>
                    <input
                        type="number"
                        id="length"
                        min="4"
                        max="20"
                        value="12"
                    />
                </div>
                <div class="setting">
                    <label for="uppercase">Include uppercase</label>
                    <input type="checkbox" id="uppercase" />
                </div>
                <div class="setting">
                    <label for="lowercase">Include lowercase</label>
                    <input type="checkbox" id="lowercase" />
                </div>
                <div class="setting">
                    <label for="numbers">Include numbers</label>
                    <input type="checkbox" id="numbers" />
                </div>
                <div class="setting">
                    <label for="symbols">Include symbols</label>
                    <input type="checkbox" id="symbols" />
                </div>
            </div>

            <button class="btn btn-large" id="generate"
                >Generate Password</button
            >
        </div>
    </div>
</Layout>

<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .generator-wrapper {
        padding: 20px 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    h2 {
        margin: 10px 0 20px;
        text-align: center;
    }

    .setting {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
    }

    .btn {
        border: none;
        background-color: #3b3b98;
        color: #fff;
        padding: 8px 16px;
        cursor: pointer;
    }

    .btn-large {
        display: block;
        width: 100%;
    }
    .result-container {
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        font-size: 18px;
        height: 50px;
        width: 100%;
    }

    .result-container .btn {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .result-container #result {
        word-wrap: break-word;
        max-width: calc(100% - 50px);
    }

    #result::-webkit-scrollbar {
        width: 1rem;
    }
</style>

<style is:inline></style>

<script is:inline></script>
