---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Scrolling Animation">
    <h1>Scroll to see animation</h1>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
    <div class="box"><h2>Hello</h2></div>
</Layout>
<script is:inline>
    const boxes = document.querySelectorAll('.box')
    console.log(boxes)
    const checkBoxes = () => {
        const triggerBottom = (window.innerHeight / 5) * 4

        boxes.forEach((box) => {
            const boxTop = box.getBoundingClientRect().top
            if (boxTop < triggerBottom) {
                box.classList.add('visible')
            } else {
                box.classList.remove('visible')
            }
        })
    }

    checkBoxes()

    window.addEventListener('scroll', checkBoxes)
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden; /*to avoid scrollbars*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        color: #222;
        background-image: linear-gradient(135deg, #c2ffd8 10%, #465efb 100%);
    }

    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        border-radius: 10px;
        width: min(450px, 100%);
        padding: 4rem;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
        background-image: linear-gradient(
            to right,
            #ff6e7f 0%,
            #bfe9ff 51%,
            #ff6e7f 100%
        );

        transform: translateX(1000%);
        transition: transform 0.4s ease-in-out;
    }

    .box:nth-of-type(even) {
        transform: translateX(-1000%);
    }

    .box.visible {
        transform: translateX(0);
    }
</style>
