---
import Layout from '../../layouts/Layout.astro';
---

<style is:inline>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #ecf0f1;
        font-family: 'Roboto', sans-serif;
        color: #222;
        padding-bottom: 50px;
    }

    .container {
        width: min(1200px, 100%);
        margin: 0 auto;
    }

    .nav {
        position: fixed;
        background-color: #222;
        top: 0;
        left: 0;
        right: 0;
        transition: all 0.3s ease-in-out;
        z-index: 99;
        color: #fff;
    }

    .nav.active {
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        color: #000;
    }

    .nav.active a {
        color: #000;
    }

    .nav.active .container {
        padding: 10px 0;
    }

    .nav a.current,
    .nav a:hover {
        color: #c0392b;
        font-weight: bold;
    }

    .nav .container {
        display: flex;
        justify-content: space-between;
        transition: all 0.3s ease-in-out;
        padding: 20px 0;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: center;
    }

    .nav a {
        color: #fff;
        text-decoration: none;
        padding: 7px 15px;
        transition: all 0.3s ease-in-out;
    }

    .hero {
        background-image: url('https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        height: 100vh;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        margin-bottom: 20px;
    }

    .hero::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .hero p {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .content h2,
    .content h3 {
        font-size: 150%;
        margin: 10px 0;
    }
</style>
<Layout title="Sticky Navbar">
    <nav class="nav">
        <div class="container">
            <h1 class="logo">NavBar</h1>
            <ul>
                <li><a href="#" class="current">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>

    <div class="hero">
        <div class="container">
            <h1>Welcome To My Website</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                animi, neque dolore quaerat voluptatum debitis vitae
                reprehenderit, alias ea aperiam rerum qui fugiat nisi aliquid
                eos iste nobis voluptate pariatur.
            </p>
        </div>
    </div>

    <section class="container content">
        <h2>Content</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
            perspiciatis voluptates, incidunt dolore necessitatibus perferendis
            sunt aspernatur voluptate fugit molestias vero minima, laudantium
            dolores impedit expedita hic. Harum, corrupti optio! Saepe minus est
            velit quos voluptatibus quaerat dignissimos debitis totam soluta,
            vero unde hic explicabo doloremque ipsum pariatur enim, harum magni
            eum omnis voluptas a cum. Perferendis quas aliquam voluptate.
            Temporibus cupiditate soluta sapiente dolor, ad aliquam quisquam
            enim, maxime rem possimus, facere vitae. Placeat, consequatur maxime
            libero non animi vel sed quidem corporis eaque at omnis nam aliquam!
            Nihil. Qui iure obcaecati alias aliquid soluta, recusandae repellat,
            nostrum facilis consequatur quasi nisi sed esse excepturi dolor quis
            unde delectus vel, quibusdam quo ullam pariatur! Itaque quo quos
            nesciunt velit. Maxime fugiat pariatur corporis incidunt tenetur
            dolorem, soluta facere aliquid ex aperiam, praesentium possimus quos
            omnis. Cumque rem alias, ullam cupiditate autem commodi incidunt,
            voluptas minus accusamus dicta, aspernatur optio? Possimus quae
            saepe sit laborum tempora veritatis tempore laboriosam autem ut
            suscipit dolore laudantium eos nam assumenda voluptates aspernatur,
            asperiores, voluptatum voluptate, earum est id! Et veniam doloremque
            aut quam. Aperiam consectetur dolor dignissimos. Ipsa vel ex
            voluptatem eligendi voluptas architecto, ea asperiores iste et,
            distinctio eius consectetur. Laborum at eligendi itaque hic sunt
            nostrum vel dolore ipsam non vitae? Laborum at suscipit perspiciatis
            aperiam vero commodi expedita, reiciendis repellat ad laboriosam!
            Quas corrupti at a dolore ratione ab laboriosam iusto, veniam
            tempora odio cupiditate excepturi. Officia numquam totam veritatis?
            Quae ut doloribus, ipsa hic error perferendis vero nesciunt a
            necessitatibus, dignissimos accusantium vel, at delectus ratione
            maxime repudiandae recusandae est. Doloremque adipisci non saepe
            veniam officia! Magni, voluptas tenetur! Dignissimos quisquam
            deserunt nostrum recusandae alias? Quis quasi, officia est quod,
            tempore numquam sint iusto eveniet dolorum deserunt nostrum vitae
            ullam illo vero, eos saepe libero cupiditate ipsam optio!
            Voluptates! Eius eum pariatur, nostrum cum nesciunt quo error
            inventore tenetur exercitationem quidem dolore repellat eaque
            laborum distinctio facilis velit quod. Incidunt quibusdam assumenda
            at ipsam ipsa omnis, quidem deserunt labore! Assumenda
            exercitationem corrupti ducimus recusandae a quaerat dignissimos,
            deleniti ipsum quasi inventore tempore cum esse cumque veniam ut
            eaque dolorem obcaecati sed velit ad at sint. Ipsa quod totam
            libero! Voluptatem, ex deleniti. Dolorem adipisci maxime debitis at
            quae, et nesciunt facilis earum doloribus perspiciatis laudantium,
            fugiat minima suscipit eius repellat odio tempora cupiditate, fugit
            cumque animi eligendi commodi nobis? Iure velit molestias, odit quas
            exercitationem culpa porro dolore molestiae nulla numquam, deleniti
            aliquam modi deserunt quis consectetur minus?
        </p>

        <h3>Content Two</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
            porro harum rerum nobis consectetur obcaecati repellendus ducimus
            expedita labore, autem at praesentium quam voluptatem itaque sequi
            nesciunt quod fugit dolorum. Totam similique eveniet reiciendis
            consequatur labore harum recusandae, id aliquam, consectetur quasi
            iusto repellat sit asperiores. Sit perspiciatis tempora doloribus
            non tenetur? Ad id fugit tempore. Exercitationem sequi accusantium
            ex. Dolorum suscipit velit id cum. Consequatur aspernatur nulla
            culpa commodi! Inventore ad non quam. Nihil rem, veniam excepturi
            fugiat in vitae omnis odit numquam deleniti voluptates, consequatur
            praesentium nesciunt quidem. Ipsum iure tempora cumque odio aperiam
            minima, quaerat, nulla, asperiores natus voluptatibus sint! Animi
            fuga ex nesciunt aperiam fugit. Ducimus, eligendi? Dolorem iste
            minima libero sapiente dolor aut, sunt magni? Soluta laboriosam,
            accusamus veniam recusandae laudantium dolore mollitia officiis in
            ipsum nemo dolor veritatis pariatur cumque nam, deleniti consectetur
            assumenda atque? Voluptas harum tempora, quasi vel dolorum vitae
            nobis sapiente. Nam, ea vero expedita quibusdam alias laborum fuga
            asperiores. Iste at architecto, sequi voluptatem pariatur
            praesentium quas veritatis voluptas repellat a ullam ipsam aliquam
            error numquam culpa quae!
        </p>
    </section>
</Layout>

<script is:inline>
    const nav = document.querySelector('.nav');
    window.addEventListener('scroll', fixNav);

    function fixNav() {
        if (window.scrollY > nav.offsetHeight + 150) {
            nav.classList.add('active');
        } else {
            nav.classList.remove('active');
        }
    }
</script>
