---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Default Project">
    <div class="container">
      
    </div>
</Layout>

<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>

<style is:inline>
   
</style>

<script is:inline>
   
</script>
