---
const { title } = Astro.props;
const { page } = Astro.props;
---

<aside class="nav-widget">
    <a href="/project">{`< BACK`}</a>
</aside>

<style lang="scss">
    .nav-widget {
        z-index: 99999;
        position: fixed;
        right: 2rem;
        bottom: 2rem;
        height: 40px;
        width: 120px;
        background-color: #802fde;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        padding: 1rem;
        cursor: pointer;

        a {
            color: white;
            text-decoration: none;
            display: block;
            font-size: 14px;
            text-align: center;
        }
    }
</style>
