<header class="nav-wrapper">
    <div class="nav">
        <h1>50Projects</h1>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</header>

<style>
    .nav-wrapper {
        display: flex;
        min-height: 78px;
        background-color: #2e1056;
    }

    .nav {
        width: min(1140px, 90%);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        font-size: 30px;
        color: white;
    }

    ul li a {
        color: white;
    }
</style>
