<aside class="sidenav-wrapper">
    <div class="side-nav">
        <h1>Side nav</h1>
    </div>
</aside>

<style>
    .sidenav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        display: flex;
        height: 100dvh;
        width: 350px;
        background-color: #2e1056;
        align-items: center;
        justify-content: center;
        padding: 4rem 2rem;
    }

    h1 {
        font-size: 30px;
        color: white;
    }

    ul li a {
        font-size: 16px;
        color: white;
    }

    ul li a:hover {
        border-bottom: 2px solid white;
    }
</style>
